<?xml version="1.0" encoding="utf-8" ?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>struct val</Title>
			<Shortcut>structval</Shortcut>
			<Description>Code snippet for struct value declaration</Description>
			<Author>LuckyStar Studio LLC</Author>
			<SnippetTypes>
				<SnippetType>Expansion</SnippetType>
				<SnippetType>SurroundsWith</SnippetType>
			</SnippetTypes>
		</Header>
		<Snippet>
			<Declarations>
				<Literal>
					<ID>name</ID>
					<ToolTip>Struct variable name</ToolTip>
					<Default>myStruct</Default>
				</Literal>
				<Literal>
					<ID>fields</ID>
					<ToolTip>Struct fields</ToolTip>
					<Default>field1: i32, field2: bool</Default>
				</Literal>
			</Declarations>
			<Code Language="zig"><![CDATA[const $name$ = struct {
	$fields$
};$end$]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>